@font-face {
    font-family: "Titillium Web";
    src: url(fonts/Titillium_Web\ \(1\)/);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 1230px;
    max-width: 1400px;
    margin: auto;
}

.header {
    width: 100%;
    height: 122px;
    background-color: #B66400;
}

.header div.container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header img {
    margin-bottom: 15px;
    height: 100px;
    display: flex;
    justify-content: center;
}


.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;

}

.menu a {
    font-family: "Titillium Web";
    color: white;
    font-size: 30px;
    text-decoration: underline transparent;
    font-weight: 600;


}

.menu a:hover {
    color: #0093E0;
    transition: .3s;
}

.sobre {
    background-color: #E07D00;
    height: 808px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre p {
    text-align: center;
    margin-top: 60px;

}


.sobre img {
    height: 150px;
    margin-bottom: 100px;
    margin-left: 100px;



}

.sobre p {
    font-family: "Mulish";
    color: white;
    font-size: 36px;
    height: 570px;
    width: 798px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.carrossel h1 {
    font-family: "Titillium Web";
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 60px;

}

.carrossel {}


.gamificacao h2 {
    font-size: 36px;
    font-family: "Titillium Web";
    text-align: center;
}

.gamificacao p {
    font-size: 25px;
    font-family: "Mulish";
    text-align: center;
    padding: 100px 20%;

}

h3 {
    font-size: 36px;
    font-family: "Titillium Web";
    text-align: center;
}



.sucessos {
    background-color: #E07D0030;
    margin-bottom: 478px;
    margin-top: 20%;
}

h4 {
    font-family: "Titillium Web";
    font-size: 40px;
    text-align: center;
    padding-top: 10%;

}




.retangulo1 {
    height: 90px;
    background-color: #E07D00;
}

.sedivirta {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 70px;
    margin-right: 70px;
}



.sedivirta button {
    width: 273px;
    height: 64px;
    font-size: 32px;
    background-color: #E07D00;
    border-radius: 10px;
    border-style: none;
    margin-left: 815px;
    margin-top: 70px;
    cursor: pointer;
}

.sedivirtabutton :hover {
  
}


.sedivirta p {
    font-size: 37px;
    font-family: "Mulish";
    text-align: center;
}

.retangulo2 {
    height: 90px;
    background-color: #E07D00;
}

h5 {
    font-size: 40px;
    font-family: "Titillium Web";
    text-align: center;
    margin-top: 145px;
    margin-bottom: 145px;

}

.contato img {
    margin-left: 100px;
    margin-bottom: 300px;
}

.faixa {
    height: 10px;
    background-color: black;
    width: 100%;
}

footer {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #E07D00;
}

footer img {
    height: 100px;
    display: block;
    justify-content: center;
    margin-left: 100px;
    margin: 65px;
}

.imgfooter {


    display: flex;
    align-items: center;
    margin-left: 800px;
    margin-top: 150px;

}

.insta img {
    margin: 0px;
}

.x img {
    margin: 0px;

}

.linkedin img {

    margin: 0px;
}