@font-face {
    font-family: "Titillium Web";
    src: url(fonts/Titillium_Web\ \(1\)/);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 1230px;
    max-width: 1400px;
    margin: auto;
}

.header {
    width: 1005;
    height: 122px;
    background-color: #B66400;
}

.header div.container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;

}

.menu a {
    font-family: "Titillium Web";
    color: white;
    font-size: 30px;
    text-decoration: underline transparent;
    font-weight: 600;


}

.menu a:hover {
    color: #0093E0;
}

.sobre {
    background-color: #E07D00;
    height: 808px;
}

.empresas h1 {
    font-size: 64px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.empresas img {
    width: 60%;
    margin: auto;
    display: block;

}

.sobre p {
    font-family: "Mulish";
    color: white;
    font-size: 36px;
}

.gamificacao h1,
h3 {
    font-size: 36px;
}

.gamificacao h2,
h4 {
    font-size: 25px;
}

.gamificacao h1,
h2,
h3,
h4 {
    text-align: center;
}

.retangulo1 {
    height: 98px;
    background-color: #E07D00;
}

.sedivirta {
    justify-content: space-around;
    padding: 10%;
}

.sedivirta p {
    font-size: 48px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


.sedivirta button {
    width: 273px;
    height: 64px;
    font-size: 32px;
    background-color: #E07D00;
    border-radius: 10px;
    border-color: transparent;
    margin-left: 75%;
    margin-top: 5%;
}



.retangulo2 {
    height: 98px;
    background-color: #E07D00;
}
